<app-header-ep></app-header-ep>

<div class="container mt-3 justify-content-center">
  <div class="row p-3">
    <div class="col">
      <strong>
        <a href="/home-ep">Home</a> >
        <a href="/ep-rutina">Administrar Rutinas</a> >
        <a href="/rutina/{{ rutina._id }}">Vista General</a> >
        <a href="/rutina-detalle/{{ diaSemanaRutina._id }}">Vista Detalle</a>
        > Ejercicio</strong
      >
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-12">
      <mat-card class="example-card">
        <!-- <div style='margin:5px 0'><strong>Detalle:</strong></div> -->
        <mat-card-content>
          <form #detalleEjercicioForm="ngForm">
            <div class="row justify-content-center">
              <div class="col-md-11">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    style="font-weight: 800; color: #666"
                    name="titulo"
                    disabled
                    [(ngModel)]="detalleEjercicio.idEjercicio['nombre']"
                  />
                </div>

                <input
                  type="number"
                  class="form-control"
                  style="text-align: left; font-size: 1.1em"
                  name="series"
                  [(ngModel)]="detalleEjercicio.series"
                />

                <input
                  type="number"
                  class="form-control"
                  style="text-align: left; font-size: 1.1em"
                  name="repeticiones"
                  [(ngModel)]="detalleEjercicio.repeticiones"
                />

                <textarea
                  type="text"
                  class="form-control"
                  style="text-align: left; font-size: 1.1em"
                  name="observaciones"
                  rows="2"
                  [(ngModel)]="detalleEjercicio.observaciones"
                >
                </textarea>
              </div>

              <div class="col-md-1">
                <button
                  class="btn btn-primary btn-sm"
                  style="float: right; margin-top: 10px"
                  (click)="editEjercicio(detalleEjercicio)"
                >
                  <i class="material-icons">save</i>
                </button>
              </div>
            </div>
          </form>

          <div class="form-group" style="margin: 10px 0">
            <p style="color: red">{{ errorForm }}</p>
            <p style="color: green">{{ msgForm }}</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
