.calendar {
  width: 100%;
  background-color: #ddd;
  border: 1px solid #ccc;
}

.wday{
    width: calc(100%/7);
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    background-color: #eee;

}

.day {
    width: calc(100%/7);
  display: inline-block;
  text-align: center;
  height: 40px;
  line-height: 40px;
}

.day:hover{
    color: red;
    cursor: pointer;
    text-decoration: underline;
}

.table-wrapper
{
    /* border: 1px solid red; */
    width: 100%;
    height: 300px;
    overflow: auto;
}

table
{
    /* border: 1px solid black; */
    margin-right: 20px;
}
