<app-header-ep></app-header-ep>

<div class="container mt-3 justify-content-center">
  <div class="row p-3">
    <div class="col">
      <strong>
        <a href="/home-ep">Home </a> >
        <a href="/dietas-listado">Administrar Dietas</a> >
        <a href="/dieta/{{ dieta._id }}">Vista General</a> >
        <a href="/dieta-detalle/{{ diaSemanaDieta._id }}">Vista Detalle</a>
        > Comida</strong
      >
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-12">
      <mat-card class="example-card">
        <mat-card-header>
          <!-- <mat-card-title>Comida</mat-card-title> -->
        </mat-card-header>
        <mat-card-content>
          <form #comidaForm="ngForm">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th style="text-align: center; font-size: 1em">Nombre</th>
                  <th style="text-align: center; font-size: 1em">Hora</th>
                  <th
                    style="
                      text-align: right;
                      padding-right: 20px;
                      font-size: 1em;
                    "
                  >
                    Acciones
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td
                    style="max-width: 40%; text-align: center; font-size: 1.1m"
                  >
                    <input
                      type="text"
                      class="form-control"
                      style="text-align: center; font-size: 1.1em"
                      name="nombre"
                      [(ngModel)]="comida.nombre"
                    />
                  </td>

                  <td
                    style="max-width: 40%; text-align: center; font-size: 1.1em"
                  >
                    <input
                      type="text"
                      class="form-control"
                      style="text-align: center; font-size: 1.1em"
                      name="hora"
                      [(ngModel)]="comida.hora"
                    />
                  </td>

                  <td style="text-align: right; padding-right: 20px">
                    <button
                      class="btn btn-primary btn-sm"
                      (click)="editComida(comida)"
                    >
                      <i class="material-icons">save</i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </form>

          <div class="form-group" style="margin: 10px 0">
            <p style="color: red">{{ errorFormComida }}</p>
            <p style="color: green">{{ msgFormComida }}</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row justify-content-center pb-3 pt-3">
    <div class="col-md-12">
      <mat-card class="example-card">
        <mat-card-header>
          <!-- <mat-card-title>Alimentos</mat-card-title> -->
        </mat-card-header>
        <mat-card-content>
          <table class="table table-striped" style="table-layout: fixed">
            <thead>
              <tr>
                <th>Alimento</th>
                <th>Cantidad</th>
                <th style="max-width: 30px" class="mobile">P</th>
                <th style="max-width: 30px" class="mobile">CH</th>
                <th style="max-width: 30px" class="mobile">G</th>
                <th style="max-width: 30px" class="mobile">Kcal</th>
                <th style="max-width: 30px">Notas</th>
                <th
                  style="
                    text-align: right;
                    padding-right: 20px;
                    font-size: 1.1em;
                    min-width: 140px;
                  "
                >
                  Acciones
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let detalleComida of detallesComida">
                <td>{{ detalleComida.idAlimento["nombre"] }}</td>
                <td>{{ detalleComida.cantidad }}</td>
                <td style="max-width: 30px" class="mobile">
                  {{ detalleComida.proteinasDetalleComida }}
                </td>
                <td style="max-width: 30px" class="mobile">
                  {{ detalleComida.chsDetalleComida }}
                </td>
                <td style="max-width: 30px" class="mobile">
                  {{ detalleComida.grasasDetalleComida }}
                </td>
                <td style="max-width: 30px" class="mobile">
                  {{ detalleComida.kcalDetalleComida }}
                </td>
                <td>{{ detalleComida.observaciones }}</td>

                <td style="text-align: right;">
                  <a href="/dieta-comida-edit/{{ detalleComida._id }}">
                    <button
                      class="btn btn-warning btn-sm"
                      style="margin-left: 10px"
                    >
                      <i class="material-icons">edit</i>
                    </button></a
                  >

                  <button
                    class="btn btn-danger btn-sm"
                    style="margin-left: 10px"
                    (click)="deleteDetalleComida(detalleComida)"
                  >
                    <i class="material-icons">delete</i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

          <button
            class="btn btn-primary btn-sm"
            style="float: right"
            (click)="showFormNuevoAlimento()"
          >
            AÑADIR NUEVO ALIMENTO
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div
    class="row justify-content-center pb-3 pt-3"
    *ngIf="mostrarFormNuevoAlimento"
  >
    <div class="col-md-12">
      <form #detalleComidaNueva="ngForm">
        <mat-card class="example-card mb-3">
          <div class="row justify-content-center">
            <div class="col-md-7" style="border-right: 1px solid #ccc">
              <div><strong>Grupos de alimentos</strong></div>
              <div class="row justify-content-center">
                <div class="row justify-content-center">
                  <div class="col-9 col-md-6 col-lg-4 text-center">
                    <button
                      class="btn btn-secondary m-3 btn-alimento"
                      (click)="filtrarGrupoAlimento('Pescados')"
                    >
                      PESCADOS
                    </button>
                  </div>
                  <div class="col-9 col-md-6 col-lg-4 text-center">
                    <button
                      class="btn btn-secondary m-3 btn-alimento"
                      (click)="filtrarGrupoAlimento('Legumbres')"
                    >
                      LEGUMBRES
                    </button>
                  </div>
                  <div class="col-9 col-md-6 col-lg-4 text-center">
                    <button
                      class="btn btn-secondary m-3 btn-alimento"
                      (click)="filtrarGrupoAlimento('Carnes')"
                    >
                      CARNES
                    </button>
                  </div>
                  <div class="col-9 col-md-6 col-lg-4 text-center">
                    <button
                      class="btn btn-secondary m-3 btn-alimento"
                      (click)="filtrarGrupoAlimento('Huevos')"
                    >
                      HUEVOS
                    </button>
                  </div>
                  <div class="col-9 col-md-6 col-lg-4 text-center">
                    <button
                      class="btn btn-secondary m-3 btn-alimento"
                      (click)="filtrarGrupoAlimento('Cereales')"
                    >
                      CEREALES
                    </button>
                  </div>
                  <div class="col-9 col-md-6 col-lg-4 text-center">
                    <button
                      class="btn btn-secondary m-3 btn-alimento"
                      (click)="filtrarGrupoAlimento('Frutas')"
                    >
                      FRUTAS
                    </button>
                  </div>
                  <div class="col-9 col-md-6 col-lg-4 text-center">
                    <button
                      class="btn btn-secondary m-3 btn-alimento"
                      (click)="filtrarGrupoAlimento('Aceite')"
                    >
                      ACEITE
                    </button>
                  </div>
                  <div class="col-9 col-md-6 col-lg-4 text-center">
                    <button
                      class="btn btn-secondary m-3 btn-alimento"
                      (click)="filtrarGrupoAlimento('Lácteos')"
                    >
                      LÁCTEOS
                    </button>
                  </div>
                  <div class="col-9 col-md-6 col-lg-4 text-center">
                    <button
                      class="btn btn-secondary m-3 btn-alimento"
                      (click)="filtrarGrupoAlimento('Frutos Secos')"
                    >
                      Frutos Secos
                    </button>
                  </div>
                  <div class="col-9 col-md-6 col-lg-4 text-center">
                    <button
                      class="btn btn-secondary m-3 btn-alimento"
                      (click)="filtrarGrupoAlimento('Verduras')"
                    >
                      Verduras
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-5">
              <div class="form-group" style="text-align: center">
                <!-- <div>
                  <span><strong>Listado:</strong></span>
                </div> -->
                <mat-form-field
                  appearance="outline"
                  style="padding-top: 20px; max-width: 300px; width: 100%"
                >
                  <mat-label>{{ grupoAlimentoTitle }}</mat-label>

                  <mat-select
                    (selectionChange)="nombreAlimento($event)"
                    [(ngModel)]="idAlimento"
                    name="idAlimento"
                    size="1"
                  >
                    <mat-option
                      *ngFor="let alimento of alimentos"
                      [value]="alimento._id"
                    >
                      {{ alimento.nombre }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-card>

        <mat-card class="example-card" *ngIf="alimentoIsSelected">
          <div><strong>Nuevo alimento</strong></div>
          <div class="row justify-content-center">
            <div
              class="col-12 col-md-7 justify-content-center"
              style="margin-bottom: 20px"
            >
              <mat-form-field style="width: 100%">
                <input
                  matInput
                  type="text"
                  class="form-control"
                  style="color:#666; font-weight: 800; text-align: center;"
                  name="nombre"
                  disabled
                  [(ngModel)]="nAlimento"
                />
              </mat-form-field>

              <!--             
              <div
                style="
                  text-align: center;
                  margin: 20px 0;
                  font-size: 1.1em;
                  border-bottom: 1px solid #666;
                  padding-bottom: 10px;
                  color:#666
                "
              >
                {{ nAlimento }}
              </div> -->

              <mat-form-field style="width: 100%">
                <mat-label
                  style="
                    color: black;
                  "
                  >Cantidad (gr/ml)</mat-label
                >
                <input
                  matInput
                  type="number"
                  class="form-control"
                  name="cantidad"
                  [(ngModel)]="nuevoDetalleComida.cantidad"
                />
              </mat-form-field>

              <!-- <div>
                <span style="display: inline-block"
                  ><input
                    type="number"
                    class="form-control"
                    name="cantidad"
                    placeholder="Cantidad"
                    [(ngModel)]="nuevoDetalleComida.cantidad"
                /></span>

                <span style="display: inline-block; padding: 0 20px">
                  gr/ ml</span
                >
              </div> -->

              <mat-form-field style="width: 100%">
                <mat-label style="color: black">Observaciones</mat-label>
                <textarea
                  matInput
                  type="text"
                  name="observaciones"
                  [(ngModel)]="nuevoDetalleComida.observaciones"
                >
                </textarea>
              </mat-form-field>

              <!-- <textarea
                type="text"
                class="form-control"
                name="observaciones"
                placeholder="Observaciones"
                [(ngModel)]="nuevoDetalleComida.observaciones"
                rows="2"
              ></textarea> -->

         
            </div>
            <div class="col-9 col-md-4">
              <div class="form-group" style="margin-bottom: 0px">
                <img
                  style="width: 100%; border: 5px solid #ccc; margin: 5px 0"
                  mat-card-image
                  src="{{ nFotoAlimento }}"
                  alt=""
                />
              </div>
            </div>

            <div class="col-3 col-md-1">
              <div>
                <button
                  class="btn btn-primary btn-sm"
                  style="float: right"
                  (click)="guardarNuevoDetalleComida(detalleComidaNueva.value)"
                >
                  <i class="material-icons">save</i>
                </button>
              </div>
            </div>
          </div>
          <div class="form-group" style="margin: 10px 0">
            <p style="color: red">{{ errorFormNuevoDetalleComida }}</p>
            <p style="color: green">{{ msgFormNuevoDetalleComida }}</p>
          </div>
        </mat-card>
      </form>
    </div>
  </div>
</div>
