<app-header-ep></app-header-ep>

<div class="container mt-5 justify-content-center">
  <div class="row pb-3">
    <div class="col">
      <strong>
        <a href="/home-ep">Home</a> >
        <a href="/rutinas-listado">Administrar Rutinas</a> > Rutina nueva</strong>
    </div>
  </div>
  <div class="row justify-content-center pb-3">
    <div class="col-md-12">
      <mat-card class="example-card">
        <form #nuevaRutina="ngForm">
          <div class="row justify-content-center">
            <div class="col-md-11">
              <input
                type="text"
                class="form-control"
                name="titulo"
                placeholder="Titulo de rutina"
                [(ngModel)]="newRutina.titulo"
              />

              <input
                type="date"
                class="form-control"
                name="fechaInicio"
                placeholder="Fecha de inicio"
                [(ngModel)]="newRutina.fechaInicio"
              />

              <input
                type="text"
                class="form-control"
                name="descripcion"
                placeholder="Descripcion"
                [(ngModel)]="newRutina.descripcion"
              />

              <div class="form-group" style="margin: 20px 0; float: right">
                <label style="display: inline-block; margin-right: 5px">
                  Cliente de la nueva dieta:
                </label>
                <mat-form-field appearance="fill" style="display: inline-block">
                  <mat-select [(ngModel)]="idUsuario" name="idUsuario">
                    <mat-option *ngFor="let user of users" [value]="user._id">
                      {{ user.username }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="form-group" style="margin: 10px 0">
                <p style="color: red">{{ errorForm }}</p>
              </div>
            </div>

            <div class="col-md-1">
              <button
                class="btn btn-primary btn-sm"
                style='float: right;'
                (click)="saveNuevaRutina(nuevaRutina.value)"
              >
                <i class="material-icons">save</i>
              </button>
            </div>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</div>
