<app-header-ep></app-header-ep>

<div class="container mt-5 justify-content-center">
  <div class="row" style="margin: 30px 0">
    <div class="col">
      <strong
        ><a href="/dietas-listado">Admin Dietas</a> >
        <a href="/dieta/{{ dieta._id }}">Dieta Vista General</a> > Dia Semana
        Dieta Nuevo</strong
      >
    </div>
  </div>
  <div class="row justify-content-center pb-3">
    <div class="col-md-12">
      <mat-card class="example-card">
        <form #diaSemanaDietaNuevo="ngForm">
          <div class="row justify-content-center">
            <div class="col-md-11">
              <input
                type="text"
                class="form-control"
                name="nombre"
                placeholder="Dia de la semana"
                [(ngModel)]="nuevoDiaSemanaDieta.nombre"
              />

              <input
                type="text"
                class="form-control"
                name="descripcion"
                placeholder="Descripcion"
                [(ngModel)]="nuevoDiaSemanaDieta.descripcion"
              />

              <div class="form-group" style="margin: 10px 0">
                <p style="color: red">{{ errorForm }}</p>
                <p style="color: green">{{ msgForm }}</p>
              </div>
            </div>

            <div class="col-md-1">
              <button
                class="btn btn-primary btn-sm"
                style="margin-left: 10px"
                (click)="saveNuevoDiaSemanaDieta(nuevoDiaSemanaDieta)"
              >
                <i class="material-icons">save</i>
              </button>
            </div>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</div>
