<app-header-ep></app-header-ep>

<div class="vertical-center">
  <div class="container mt-5 justify-content-center">
    <div class="row justify-content-center">
      <div class="col-8">
        <mat-card
          class="example-card"
          style="text-align: center; margin: 0px auto"
        >
          <a href="/dietas-listado"
            ><button
              class="btn btn-secondary"
              style="width: 80%; margin: 20px auto 20px auto; display: block"
            >
              ADMINISTRAR DIETAS
            </button></a
          >
          <a href="/rutinas-listado"
            ><button
              class="btn btn-secondary"
              style="width: 80%; margin: 20px auto 20px auto; display: block"
            >
              ADMINISTRAR RUTINAS
            </button></a
          >
        </mat-card>
      </div>
    </div>
  </div>
</div>
