.example-card {
  max-width: 400px;
  padding: 10px;
  margin: 20px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.card-user-button {
  display: block;
  text-align: center;
  margin: 0px auto!important;
  margin-bottom: 10px!important;
}
