<app-header-admin></app-header-admin>

<div class="vertical-center">
  <div class="container mt-5 justify-content-center">
    <div class="row justify-content-center">
      <div class="col-8">
        <mat-card
          class="example-card"
          style="text-align: center; margin: 0px auto"
        >
          <a href="/admin-users"
            ><button
              class="btn btn-secondary"
              style="width: 80%; margin: 20px auto 20px auto; display: block"
            >
              ADMIN USERS
            </button></a
          >
          <a href="/admin-alimentos"
            ><button
              class="btn btn-secondary"
              style="width: 80%; margin: 20px auto 20px auto; display: block"
            >
              ADMIN ALIMENTOS
            </button></a
          >
          <a href="/admin-ejercicios"
            ><button
              class="btn btn-secondary"
              style="width: 80%; margin: 20px auto 20px auto; display: block"
            >
              ADMIN EJERCICIOS
            </button></a
          >
        </mat-card>
      </div>
    </div>
  </div>
</div>
