<app-header-user></app-header-user>

<div class="container mt-5 justify-content-center">
  <div class="row pb-3">
    <div class="col">
      <strong
        ><a href="/home-user">Home User</a> >
        <a href="/user-dieta">Mis Dietas</a> >
        <a href="/user-dieta-detalle/{{ dieta._id }}">Detalle de la dieta</a>
        > Comidas del día</strong
      >
    </div>
  </div>

  <div class="row justify-content-center pb-3">
    <!-- <div class="col-md-4 datos-cliente-mobile">
      <mat-card class="example-card h-100">
        <div class="row justify-content-center">
          <div class="col-12" style="text-align: center">
            <p>{{ infoCliente.username }}</p>
            <img
              mat-card-image
              src="assets/img/perfil.jpg"
              alt=""
              style="width: 60px; text-align: center"
            />
            <p>{{ infoCliente.email }}</p>
          </div>
        </div>
      </mat-card>
    </div> -->

    <div class="col-md-12">
      <mat-card class="example-card">
        <form #rutinaForm="ngForm">
          <div class="row justify-content-center">
            <div class="col-md-12">
              <input
                type="text"
                class="form-control"
                style="
                  font-weight: 800;
                  text-align: center;
                  font-size: 1.2em;
                  color: #444;
                "
                name="titulo"
                placeholder="Titulo de rutina"
                disabled
                [(ngModel)]="dieta.titulo"
              />

              <input
                type="text"
                class="form-control"
                style="
                  font-weight: 800;
                  text-align: center;
                  font-size: 1.2em;
                  color: #444;
                "
                name="fechaInicio"
                placeholder="Fecha de inicio"
                disabled
                [(ngModel)]="dieta.fechaInicio"
              />

              <input
                type="text"
                class="form-control"
                style="
                  font-weight: 800;
                  text-align: center;
                  font-size: 1.2em;
                  color: #444;
                "
                name="descripcion"
                placeholder="Descripcion"
                disabled
                [(ngModel)]="dieta.descripcion"
              />
            </div>
          </div>
        </form>
      </mat-card>
    </div>
  </div>

  <div class="row justify-content-center pb-3">
    <div class="col-md-12">
      <mat-card class="example-card">
        <form #diaSemanaForm="ngForm">
          <div class="row justify-content-center">
            <div class="col-5">
              <mat-card-header>
                <mat-card-title>
                  <input
                    type="text"
                    class="form-control"
                    style="
                      text-align: center;
                      font-weight: 800;
                      text-transform: uppercase;
                      font-size: 1.2em;
                      color: #444;
                    "
                    name="nombreDia"
                    disabled
                    [(ngModel)]="diaSemanaDieta.nombre"
                  />
                </mat-card-title>
              </mat-card-header>
            </div>

            <div class="col-7 mt-3">
              <mat-card-content>
                <input
                  type="text"
                  class="form-control"
                  style="text-align: center; font-size: 1.2em"
                  name="descripcionDia"
                  [(ngModel)]="diaSemanaDieta.descripcion"
                />
              </mat-card-content>
            </div>
          </div>
        </form>
      </mat-card>
    </div>
  </div>

  <div class="row justify-content-center pb-3">
    <div class="col-md-12">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Comidas</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Título</th>
                <th>Hora</th>
                <th style="text-align: right; padding-right: 20px">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let comida of comidas">
                <td>{{ comida.nombre }}</td>
                <td>{{ comida.hora }}</td>
                <td style="text-align: right; padding-right: 20px">
                  <button
                    class="btn btn-warning btn-sm"
                    style="margin-left: 10px"
                    (click)="mostrarDetallesComida(comida._id)"
                  >
                    VER DETALLE
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <button
            *ngIf="mostrarDivDetalleComida"
            class="btn btn-primary btn-sm"
            style="float: right"
            (click)="ocultarDetallesComida()"
          >
            OCULTAR DETALLE
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div
    class="row justify-content-center pb-3"
    *ngIf="mostrarDivDetalleComida"
    style="margin-bottom: 40px"
  >
    <div class="col-md-12">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Detalle:</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form #detallecomidaForm="ngForm">
            <table class="table table-striped">
              <thead></thead>
              <tbody>
                <tr *ngFor="let detalleComida of detallesComida">
                  <td style="width: 60%">
                    <div style="padding: 5px 0">
                      Alimento:
                      <strong>{{ detalleComida.idAlimento["nombre"] }}</strong>
                    </div>
                    <div style="padding: 5px 0">
                      Cantidad:
                      <strong>{{ detalleComida.cantidad }}</strong> gr/ml
                    </div>

                    <div style="display: block; padding: 5px 0">
                      Macros:
                      <span
                        >P: {{ detalleComida.proteinasDetalleComida }} /
                      </span>
                      <span>CH: {{ detalleComida.chsDetalleComida }} / </span>
                      <span>G: {{ detalleComida.grasasDetalleComida }} / </span>
                      <span>Kcal:{{ detalleComida.kcalDetalleComida }}</span>
                    </div>

                    <div style="display: block; padding: 5px 0">
                      Observaciones:
                      <span
                        >P: {{ detalleComida.observaciones }}
                      </span>
                    </div>

                  </td>
                  <td>
                    <img
                      style="
                        width: 100%;
                        border: 5px solid #ccc;
                        margin: 5px 0;
                        max-width: 300px;
                        float: right;
                        border-radius: 40px;
                      "
                      mat-card-image
                      src="{{ detalleComida.idAlimento['imagen'] }}"
                      alt=""
                    />
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
