<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color: rgba(0, 0, 0, 0.05)"
>
  <ul class="nav nav-pills" style="margin: 0px auto">
    <a href="/home-admin" class="navbar-brand navbar-light">The GYM Tool</a>
  </ul>


  <ul class="nav nav-pills">
    <li class="nav-item">
      <button class="btn btn-secondary btn-sm mr-5">
        <a href="/admin-users" class="nav-link">ADMIN USERS</a>
      </button>
    </li>
    <li class="nav-item">
      <button class="btn btn-secondary btn-sm mr-5">
        <a href="/admin-alimentos" class="nav-link">ADMIN ALIMENTOS</a>
      </button>
    </li>
    <li class="nav-item">
      <button class="btn btn-secondary btn-sm mr-5">
        <a href="/admin-ejercicios" class="nav-link">ADMIN EJERCICIOS</a>
      </button>
    </li>
  </ul>

  <ul class="nav nav-pills">
    <li class="nav-item"><app-user-info></app-user-info></li>
  </ul>

  <!-- <ul class="nav nav-pills ml-auto">
    <li class="nav-item" (click)="logout()">
      <button class="btn btn-warning btn-sm">
        <a class="nav-link" style="color: black" href="/">LOGOUT</a>
      </button>
    </li>
  </ul> -->
</nav>
