<app-header-user></app-header-user>

<div class="vertical-center">
  <div class="container mt-5 justify-content-center">
    <div class="row justify-content-center">
      <div class="col-8">
        <mat-card
          class="example-card"
          style="text-align: center; margin: 0px auto"
        >
          <a href="/user-dieta"
            ><button
              class="btn btn-secondary"
              style="width: 80%; margin: 20px auto 20px auto; display: block"
            >
              MIS DIETAS
            </button></a
          >
          <a href="/user-rutina"
            ><button
              class="btn btn-secondary"
              style="width: 80%; margin: 20px auto 20px auto; display: block"
            >
              MIS RUTINAS
            </button></a
          >
          <a href="/user-diario"
            ><button
              class="btn btn-secondary"
              style="width: 80%; margin: 20px auto 20px auto; display: block"
            >
              MI DIARIO
            </button></a
          >
        </mat-card>
      </div>
    </div>
  </div>
</div>
