<app-header-admin></app-header-admin>

<div class="container mt-5 justify-content-center">
  <div class="row pb-3">
    <div class="col">
      <strong><a href="/">Home</a> > Admin Usuarios</strong>
    </div>
  </div>

  <div class="row justify-content-center mb-3">
    <div class="col-md-12">
      <mat-card class="mat-card">
        <div class="card-body">
          <form #userForm="ngForm" (ngSubmit)="addUser(userForm)">
            <div class="row justify-content-center">
              <div class="col-md-8">
                <!-- <div style="padding: 20px 0; font-weight: 800">
                  Información del usuario:
                </div> -->
                <input
                  type="hidden"
                  name="_id"
                  [(ngModel)]="selectedUser._id"
                />

                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    name="username"
                    placeholder="Nombre de usuario"
                    [(ngModel)]="selectedUser.username"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    name="email"
                    placeholder="Email del usuario"
                    [(ngModel)]="selectedUser.email"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    name="role"
                    placeholder="Rol del usuario"
                    [(ngModel)]="selectedUser.rol"
                    disabled
                  />
                </div>
                <div class="form-group" style="margin: 10px 0">
                  <p style="color: red">{{ errorForm }}</p>
                  <p style="color: green">{{ msgForm }}</p>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <!-- <input type="file"
                         (change)="handleFileInput($event.target.files)"> -->

                  <img
                    style="
                      width: 100%;
                      border: 5px solid #ccc;
                      margin: 5px 0;
                      border-radius: 40px;
                    "
                    mat-card-image
                    src="{{ selectedUser.imagen }}"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-md-1">
                <div style="display: grid; margin: 0px auto">
                  <button class="btn btn-primary btn-sm" style="float: right">
                    <i class="material-icons">save</i>
                  </button>
                </div>
                <div style="display: grid; margin: 0px auto">
                  <button
                    (click)="resetForm()"
                    class="btn btn-secondary btn-sm"
                    style="margin-top: 10px"
                  >
                    <i class="material-icons">delete</i>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </mat-card>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="mat-card">
        <div class="card-body">
          <div class="table-wrapper">
            <table class="table table-striped" style="table-layout: fixed">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Role</th>
                  <th
                    style="
                      text-align: right;
                      padding-right: 20px;
                      font-size: 1.2em;
                      min-width: 140px;
                    "
                  >
                    Acciones
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users">
                  <td>{{ user.username }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.rol }}</td>
                  <td style="text-align: right; min-width: 140px">
                    <button
                      class="btn btn-warning btn-sm"
                      (click)="editUser(user)"
                    >
                      <i class="material-icons">edit</i>
                    </button>
                    <button
                      class="btn btn-danger btn-sm"
                      style="margin-left: 10px"
                      (click)="deleteUser(user._id)"
                    >
                      <i class="material-icons">delete</i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
