<app-header-ep></app-header-ep>

<div class="container mt-3 justify-content-center">
  <div class="row p-3">
    <div class="col">
      <strong>
        <a href="/home-ep">Home</a> >
        <a href="/ep-rutina">Administrar Rutinas</a> >
        <a href="/rutina/{{ rutina._id }}"> Vista General</a> > Vista
        Detalle</strong
      >
    </div>
  </div>
  <div class="row justify-content-center pb-3">
    <div class="col-md-4 datos-cliente-mobile">
      <mat-card class="example-card h-100">
        <div class="row justify-content-center">
          <div class="col-12" style="text-align: center">
            <p style="text-align: left"><strong>Datos del cliente:</strong></p>
            <p>{{ infoCliente.username }}</p>
            <img
              mat-card-image
              src="assets/img/perfil.jpg"
              alt=""
              style="width: 60px; text-align: center"
            />
            <p>{{ infoCliente.email }}</p>
          </div>
        </div>
      </mat-card>
    </div>

    <div class="col-md-8">
      <mat-card class="example-card">
        <div class="row justify-content-center">
          <div class="col-md-12">
            <input
              type="text"
              class="form-control"
              style="
                font-weight: 800;
                text-align: center;
                font-size: 1.1em;
                color: #444;
              "
              name="titulo"
              placeholder="Titulo de rutina"
              disabled
              [(ngModel)]="rutina.titulo"
            />

            <input
              type="text"
              class="form-control"
              style="
                font-weight: 800;
                text-align: center;
                font-size: 1.1em;
                color: #444;
              "
              name="fechaInicio"
              placeholder="Fecha de inicio"
              disabled
              [(ngModel)]="rutina.fechaInicio"
            />

            <textarea
              type="text"
              class="form-control"
              style="
                font-weight: 800;
                text-align: center;
                font-size: 1.1em;
                color: #444;
              "
              name="descripcion"
              placeholder="Descripcion"
              disabled
              rows="2"
              [(ngModel)]="rutina.descripcion"
            >
            </textarea>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

  <div class="row justify-content-center pb-3">
    <div class="col-md-12">
      <mat-card class="example-card">
        <form #diaSemanaForm="ngForm">
          <div class="row justify-content-center">
            <div class="col-md-4">
              <input
                type="text"
                class="form-control"
                style="
                  text-transform: uppercase;
                  text-align: center;
                  font-weight: 800;
                  font-size: 1.1em;
                  color: #444;
                "
                name="nombre"
                disabled
                [(ngModel)]="diaSemanaRutina.nombre"
              />
            </div>

            <div class="col-md-6">
              <input
                type="text"
                class="form-control"
                style="text-align: center; font-size: 1.1em"
                name="descripcionDia"
                [(ngModel)]="diaSemanaRutina.descripcion"
              />

              <div class="form-group" style="margin: 10px 0">
                <p style="color: red">{{ errorForm }}</p>
                <p style="color: green">{{ msgForm }}</p>
              </div>
            </div>

            <div class="col-md-2">
              <button
                class="btn btn-primary btn-sm"
                style="float: right"
                (click)="editarDiaSemanaRutina(diaSemanaRutina)"
              >
                <i class="material-icons">save</i>
              </button>
            </div>
          </div>
        </form>
      </mat-card>
    </div>
  </div>

  <div class="row justify-content-center pb-3">
    <div class="col-md-12">
      <mat-card class="example-card">
        <!-- <mat-card-header>
          <mat-card-title>Ejercicios</mat-card-title>
        </mat-card-header> -->
        <mat-card-content>
          <table class="table table-striped" style="table-layout: fixed">
            <thead>
              <tr>
                <th>Ejercicio</th>
                <th style="max-width: 30px">Series</th>
                <th style="max-width: 30px">Reps</th>
                <th style="max-width: 30px">Notas</th>
                <th
                  style="
                    text-align: right;
                    padding-right: 20px;
                    font-size: 1.1em;
                    min-width: 140px;
                  "
                >
                  Acciones
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let detalleEjercicio of detallesEjercicios">
                <td>{{ detalleEjercicio.idEjercicio["nombre"] }}</td>
                <td style="max-width: 30px">{{ detalleEjercicio.series }}</td>
                <td style="max-width: 30px">
                  {{ detalleEjercicio.repeticiones }}
                </td>
                <td style="max-width: 30px">
                  {{ detalleEjercicio.observaciones }}
                </td>

                <td style="text-align: right; padding-right: 20px">
                  <a href="/rutina-ejercicio/{{ detalleEjercicio._id }}">
                    <button
                      class="btn btn-warning btn-sm"
                      style="margin-left: 10px"
                    >
                      <i class="material-icons">edit</i>
                    </button></a
                  >
                  <button
                    class="btn btn-danger btn-sm"
                    style="margin-left: 10px"
                    (click)="eliminarEjercicio(detalleEjercicio._id)"
                  >
                    <i class="material-icons">delete</i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <button
            class="btn btn-primary btn-sm"
            style="float: right"
            (click)="nuevoEjercicio()"
          >
            AÑADIR UN NUEVO EJERCICIO
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div
    class="row justify-content-center pb-3 mb-3"
    *ngIf="mostrarFormNuevoEjercicio"
  >
    <div class="col-md-12">
      <form #detalleEjercicioNuevo="ngForm">
        <mat-card class="example-card" style="margin-bottom: 20px">
          <div class="row justify-content-center">
            <div class="col-md-8" style="border-right: 1px solid #ccc">
              <div><strong>Grupos musculares</strong></div>
              <div class="row justify-content-center">
                <div class="col-9 col-md-6 col-lg-4 text-center">
                  <button
                    class="btn btn-secondary m-3 btn-ejercicio"
                    (click)="filtrarGrupoMuscular('Pectorales')"
                  >
                    PECTORALES
                  </button>
                </div>
                <div class="col-9 col-md-6 col-lg-4 text-center">
                  <button
                    class="btn btn-secondary m-3 btn-ejercicio"
                    (click)="filtrarGrupoMuscular('Hombros')"
                  >
                    HOMBROS
                  </button>
                </div>
                <div class="col-9 col-md-6 col-lg-4 text-center">
                  <button
                    class="btn btn-secondary m-3 btn-ejercicio"
                    (click)="filtrarGrupoMuscular('Piernas')"
                  >
                    PIERNAS
                  </button>
                </div>
                <div class="col-9 col-md-6 col-lg-4 text-center">
                  <button
                    class="btn btn-secondary m-3 btn-ejercicio"
                    (click)="filtrarGrupoMuscular('Bíceps')"
                  >
                    BÍCEPS
                  </button>
                </div>
                <div class="col-9 col-md-6 col-lg-4 text-center">
                  <button
                    class="btn btn-secondary m-3 btn-ejercicio"
                    (click)="filtrarGrupoMuscular('Tríceps')"
                  >
                    TRÍCEPS
                  </button>
                </div>
                <div class="col-9 col-md-6 col-lg-4 text-center">
                  <button
                    class="btn btn-secondary m-3 btn-ejercicio"
                    (click)="filtrarGrupoMuscular('Glúteos')"
                  >
                    GLÚTEOS
                  </button>
                </div>
                <div class="col-9 col-md-6 col-lg-4 text-center">
                  <button
                    class="btn btn-secondary m-3 btn-ejercicio"
                    (click)="filtrarGrupoMuscular('Femoral')"
                  >
                    FEMORAL
                  </button>
                </div>
                <div class="col-9 col-md-6 col-lg-4 text-center">
                  <button
                    class="btn btn-secondary m-3 btn-ejercicio"
                    (click)="filtrarGrupoMuscular('Espalda')"
                  >
                    ESPALDA
                  </button>
                </div>
                <div class="col-9 col-md-6 col-lg-4 text-center">
                  <button
                    class="btn btn-secondary m-3 btn-ejercicio"
                    (click)="filtrarGrupoMuscular('Abdomen')"
                  >
                    ABDOMEN
                  </button>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group" style="text-align: center">
                <!-- <div>
                  <span><strong>Listado:</strong></span>
                </div> -->
                <mat-form-field
                  appearance="outline"
                  style="padding-top: 20px; max-width: 300px; width: 100%"
                >
                  <mat-label>{{ grupoMuscularTitle }}</mat-label>
                  <mat-select
                    (selectionChange)="nombreEjercicio($event)"
                    [(ngModel)]="idEjercicio"
                    name="idEjercicio"
                    size="1"
                  >
                    <mat-option
                      *ngFor="let ejercicio of ejercicios"
                      [value]="ejercicio._id"
                    >
                      {{ ejercicio.nombre }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-card>

        <mat-card class="example-card">
          <div><strong>Nuevo ejercicio</strong></div>
          <div class="row justify-content-center">
            <div
              class="col-12 col-md-7 justify-content-center"
              style="margin-bottom: 20px"
            >
              <div
                style="
                  text-align: center;
                  margin: 20px 0;
                  font-size: 1.1em;
                  border-bottom: 1px solid #666;
                  padding-bottom: 10px;
                  color: #666;
                "
              >
                {{ nEjercicio }}
              </div>

              <div>
                <span style="display: inline-block; width: 50%"
                  ><input
                    type="text"
                    class="form-control"
                    name="series"
                    placeholder="Series"
                    [(ngModel)]="nuevoDetalleEjercicio.series"
                /></span>

                <span style="display: inline-block; width: 50%"
                  ><input
                    type="text"
                    class="form-control"
                    name="repeticiones"
                    placeholder="Repeticiones"
                    [(ngModel)]="nuevoDetalleEjercicio.repeticiones"
                /></span>
              </div>
              <textarea
                type="text"
                class="form-control"
                name="observaciones"
                placeholder="Observaciones"
                [(ngModel)]="nuevoDetalleEjercicio.observaciones"
                rows="2"
              ></textarea>
            </div>
            <div class="col-9 col-md-4">
              <div class="form-group" style="margin-bottom: 0px">
                <img
                  style="width: 100%; border: 5px solid #ccc; margin: 5px 0"
                  mat-card-image
                  src="{{ nFotoEjercicio }}"
                  alt=""
                />
              </div>
            </div>

            <div class="col-3 col-md-1">
              <div>
                <button
                  class="btn btn-primary btn-sm"
                  style="float: right"
                  (click)="saveDetalleEjercicio(detalleEjercicioNuevo.value)"
                >
                  <i class="material-icons">save</i>
                </button>
              </div>
            </div>
          </div>
          <div class="form-group" style="margin: 10px 0">
            <p style="color: red">{{ errorFormNuevoDetalleEjercicio }}</p>
            <p style="color: green">{{ msgFormNuevoDetalleEjercicio }}</p>
          </div>
        </mat-card>
      </form>
    </div>
  </div>
</div>
