<app-header-user></app-header-user>

<div class="container mt-3 justify-content-center">
  <div class="row p-3">
    <div class="col">
      <strong
        ><a href="/home-user">Home User</a> >
        <a href="/user-dieta">Mis Dietas</a>
        > Detalle de la dieta</strong
      >
    </div>
  </div>

  <div class="row justify-content-center pb-3">
    <!-- <div class="col-md-4 datos-cliente-mobile">
        <mat-card class="example-card h-100">
            <div class="row justify-content-center">
              <div class="col-12" style='text-align: center;'>
                <p>{{ infoCliente.username }}</p>
                <img
                  mat-card-image
                  src="assets/img/perfil.jpg"
                  alt=""
                  style="width: 60px; text-align: center"
                />
                <p>{{ infoCliente.email }}</p>
              </div>
            </div>
          </mat-card>
    </div> -->

    <div class="col-md-6 home-accede">
      <mat-card class="example-card h-100">
        <form #rutinaForm="ngForm">
          <div class="row justify-content-center">
            <div class="col-md-10">
              <input
                type="text"
                class="form-control"
                style="font-weight: 800; text-align: center; font-size: 1.2em; color: #444"
                name="titulo"
                placeholder="Titulo de rutina"
                disabled
                [(ngModel)]="dieta.titulo"
              />

              <input
                type="text"
                class="form-control"
                style="font-weight: 800; text-align: center; font-size: 1.2em; color: #444"
                name="fechaInicio"
                placeholder="Fecha de inicio"
                disabled
                [(ngModel)]="dieta.fechaInicio"
              />

              <textarea
                type="text"
                class="form-control"
                style="font-weight: 800; text-align: center; font-size: 1.2em; color: #444"
                name="descripcion"
                placeholder="Descripcion"
                disabled
                [(ngModel)]="dieta.descripcion"
                rows='2'
              >
              </textarea>
            </div>
          </div>
        </form>
      </mat-card>
    </div>

    <div class="col-md-6" *ngIf="pieChartDataNotNull">
      <mat-card class="example-card">
        <mat-card-content>
          <div style="display: block">
            <canvas
              baseChart
              [data]="pieChartData"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"
            >
            </canvas>

            <div>
              <span
                style="
                  display: block;
                  border: 1px solid #ddd;
                  border-radius: 5px;
                  padding: 5px;
                  background: lightsteelblue;
                  width: 50%;
                  text-align: center;
                  margin: 10px auto;
                "
                >{{
                  dieta.kcalTotalesSemana | number: "1.2-2"
                }}
                kcal/sem</span
              >
              <span
                style="
                  display: block;
                  border: 1px solid #ddd;
                  border-radius: 5px;
                  padding: 5px;
                  background: lightsteelblue;
                  width: 50%;
                  text-align: center;
                  margin: 0px auto;
                  font-weight: 800;
                "
              >
                {{ calcKcalDietaDia() }} kcal/día
              </span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row justify-content-center pb-3">
    <div class="col-md-12">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Plan dieta semanal</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Día</th>
                <th>Descripcion</th>
                <th style="text-align: right; padding-right: 20px">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let diaSemanaDieta of diasSemanaDieta">
                <td>{{ diaSemanaDieta.nombre }}</td>
                <td>{{ diaSemanaDieta.descripcion }}</td>
                <td style="text-align: right; padding-right: 20px">
                  <a href="/user-dieta-dia/{{ diaSemanaDieta._id }}">
                    <button
                      class="btn btn-warning btn-sm"
                      (click)="mostrarDetalleComidas(diaSemanaDieta._id)"
                    >
                    Detalle
                    </button>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>

          <button
            *ngIf="mostrarDetallesComidas"
            class="btn btn-primary btn-sm"
            style="float: right"
            (click)="ocultarDetallesEjercicio()"
          >
            OCULTAR DETALLE
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
