/* You can add global styles to this file, and also import other style files */

@import "../node_modules/angular-calendar/css/angular-calendar.css";

html,
body {
  height: 100%;
  font-family: "Muli" !important;
  font-size: 1.1em;
  margin: 0;
}

a {
  text-decoration: none !important;
}

.mat-card {
  background: #f5f9ff;
  background: #d3ebe9;
  border: 2px solid #ddd;
  border-radius: 20px !important;
}

input {
  border-radius: 10px !important;
  padding-left: 10px !important;
}

textarea {
  overflow: hidden !important;
  padding-left: 10px !important;
}

table {
  table-layout: "fixed";
}

table tr td {
  word-break: break-word;
}

table tr:first-child {
  background: lightsteelblue;
}

.navbar-brand {
  font-size: 42px !important;
}

.mat-form-field-underline {
  display: none !important;
}

button {
  /* margin-left: 5px !important;
  margin-bottom: 5px !important;
  margin-right: 5px !important; */
}

@media (max-width: 900px) {
  .datos-cliente-mobile {
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .datos-cliente-tablet {
    margin-bottom: 20px;
  }

  button {
    margin-top: 5px !important;
  }
}
