/* You can add global styles to this file, and also import other style files */

@import "../node_modules/angular-calendar/css/angular-calendar.css";

html,
body {
  height: 100%;
  font-family: "Muli" !important;
  font-size: 1.1em;
}
body {
  margin: 0;
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */
}

.mat-card {
  background: #f5f9ff;
  border: 1px solid #ddd;
  border-radius: 20px !important;
}

table {
  table-layout: "fixed";
}

table tr td {
  word-break: break-word;
}

table tr:first-child {
  background: lightsteelblue;
}

.navbar-brand {
  font-size: 42px !important;
}
@media (max-width: 900px) {
  .datos-cliente-mobile {
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .datos-cliente-tablet {
    margin-bottom: 20px;
  }

  button {
    margin-top: 5px!important;
  }
}
