<app-header-user></app-header-user>

<div class="container mt-5 justify-content-center">
  <div class="row pb-3">
    <div class="col">
      <strong><a href="/home-user">Home User</a> > Mis Rutinas</strong>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-12">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Mis Rutinas</mat-card-title>
          <!-- <mat-card-subtitle>dietas</mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content>
          <span
            *ngIf="!tieneAlgunaRutina"
            style="font-weight: 800; color: #2196f3; margin: 15px;"
            >Aún no tienes ninguna rutina preparada por tu entrenador personal.</span
          >
          <table class="table table-striped" *ngIf="tieneAlgunaRutina">
            <thead>
              <tr>
                <th>Fecha Alta</th>
                <!-- <th>Usuario-Cliente</th> -->
                <th>Título</th>
                <th>Estado</th>
                <th style="text-align: center">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let rutina of rutinas">
                <td>{{ rutina.fechaInicio }}</td>
                <!-- <td>{{ rutina.idCliente["username"] }}</td> -->
                <td>{{ rutina.titulo }}</td>
                <td>{{ rutina.estado }}</td>
                <td style="text-align: center">
                  <a href="/user-rutina-detalle/{{ rutina._id }}"
                    ><button
                      class="btn btn-warning btn-sm"
                    >
                      <i class="material-icons">edit</i>
                    </button></a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
