<app-header-ep></app-header-ep>

<div class="container mt-3 justify-content-center">
  <div class="row p-3">
    <div class="col">
      <strong>
        <a href="/home-ep">Home</a> >
        <a href="/dietas-listado">Administrar Dietas</a> >
        <a href="/dieta/{{ dieta._id }}">Vista General</a> >
        <a href="/dieta-detalle/{{ diaSemanaDieta._id }}">Vista Detalle</a> >
        <a href="/dieta-comida-detalle/{{ comida._id }}">Comida</a>
        > Alimento</strong
      >
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-12">
      <mat-card class="example-card">
        <!-- <mat-card-header>
          <mat-card-title>Detalles del alimento:</mat-card-title>
        </mat-card-header> -->
        <mat-card-content>
          <form #detalleComidaForm="ngForm">
            <div class="row justify-content-center">
              <div class="col-md-11">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    style="font-weight: 800; color: #666"
                    name="titulo"
                    disabled
                    [(ngModel)]="detalleComida.idAlimento['nombre']"
                  />
                </div>

                <input
                  type="number"
                  class="form-control"
                  style="text-align: left; font-size: 1.1em"
                  name="cantidad"
                  [(ngModel)]="detalleComida.cantidad"
                />
                <!-- gr/ml -->

                <textarea
                  type="text"
                  class="form-control"
                  style="text-align: left; font-size: 1.1em"
                  name="observaciones"
                  rows="2"
                  [(ngModel)]="detalleComida.observaciones"
                >
                </textarea>
              </div>

              <div class="col-md-1">
                <button
                  class="btn btn-primary btn-sm"
                  style="float: right; margin-top: 10px"
                  (click)="editDetalleComida(detalleComidaForm.value)"
                >
                  <i class="material-icons">save</i>
                </button>
              </div>
            </div>
          </form>

          <div class="form-group" style="margin: 10px 0">
            <p style="color: red">{{ errorFormDetalleComida }}</p>
            <p style="color: green">{{ msgFormDetalleComida }}</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
