<app-header-user></app-header-user>

<div class="container mt-3 justify-content-center">
  <div class="row p-3">
    <div class="col">
      <strong
        ><a href="/home-user">Home User</a> >
        <a href="/user-rutina">Mis Rutinas</a>
        > Detalle de la rutina</strong
      >
    </div>
  </div>

  <div class="row justify-content-center pb-3">
    <!-- <div class="col-md-4 datos-cliente-mobile">
      <mat-card class="example-card h-100">
        <div class="row justify-content-center">
          <div class="col-12" style="text-align: center">
            <p>{{ infoCliente.username }}</p>
            <img
              mat-card-image
              src="assets/img/perfil.jpg"
              alt=""
              style="width: 60px; text-align: center"
            />
            <p>{{ infoCliente.email }}</p>
          </div>
        </div>
      </mat-card>
    </div> -->

    <div class="col-md-12">
      <mat-card class="example-card">
        <form #rutinaForm="ngForm">
          <div class="row justify-content-center">
            <div class="col-md-10">
              <input
                type="text"
                class="form-control"
                style="
                  font-weight: 800;
                  text-align: center;
                  font-size: 1.5em;
                  color: #444;
                "
                name="titulo"
                placeholder="Titulo de rutina"
                disabled
                [(ngModel)]="rutina.titulo"
              />

              <input
                type="text"
                class="form-control"
                style="
                  font-weight: 800;
                  text-align: center;
                  font-size: 1.5em;
                  color: #444;
                "
                name="fechaInicio"
                placeholder="Fecha de inicio"
                disabled
                [(ngModel)]="rutina.fechaInicio"
              />

              <textarea
                type="text"
                class="form-control"
                style="
                  font-weight: 800;
                  text-align: center;
                  font-size: 1.5em;
                  color: #444;
                "
                name="descripcion"
                placeholder="Descripcion"
                disabled
                rows='2'
                [(ngModel)]="rutina.descripcion"
              >
              </textarea>
            </div>

            <div class="col-md-1"></div>
          </div>
        </form>
      </mat-card>
    </div>
  </div>

  <div class="row justify-content-center pb-3">
    <div class="col-md-12">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Plan semanal</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Día</th>
                <th>Descripcion</th>
                <th style="text-align: right; padding-right: 20px">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let diaSemanaRutina of diasSemanaRutina">
                <td>{{ diaSemanaRutina.nombre }}</td>
                <td>{{ diaSemanaRutina.descripcion }}</td>
                <td style="text-align: right; padding-right: 20px">
                  <button
                    class="btn btn-warning btn-sm"
                    (click)="mostrarDetalleEjercicios(diaSemanaRutina._id)"
                  >
                    Detalle
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <button
            *ngIf="mostrarDetallesEjercicios"
            class="btn btn-primary btn-sm"
            style="float: right"
            (click)="ocultarDetallesEjercicio()"
          >
            OCULTAR DETALLE
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div
    class="row justify-content-center pt-3 pb-3 mb-3"
    *ngIf="mostrarDetallesEjercicios"
  >
    <div class="col-md-12">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Detalle de los ejercicios:</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <table class="table table-striped">
            <thead></thead>
            <tbody>
              <tr *ngFor="let detalleEjercicio of detallesEjercicios">
                <td style="width: 50%">
                  <div style="padding: 5px 0">
                    Ejercicio:
                    <strong>{{
                      detalleEjercicio.idEjercicio["nombre"]
                    }}</strong>
                  </div>

                  <div style="padding: 5px 0">
                    <span
                      >Series:
                      <strong>{{ detalleEjercicio.series }}</strong></span
                    >
                  </div>

                  <div style="padding: 5px 0">
                    <span
                      >Repeticiones:
                      <strong>{{ detalleEjercicio.repeticiones }}</strong>
                    </span>
                  </div>

                  <div style="padding: 5px 0">
                    Observaciones: {{ detalleEjercicio.observaciones }}
                  </div>
                </td>
                <td>
                  <img
                    style="
                      width: 100%;
                      border: 2px solid #ccc;
                      margin: 5px 0;
                      max-width: 300px;
                      float: right;
                      border-radius: 20px;
                    "
                    mat-card-image
                    src="{{ detalleEjercicio.idEjercicio['imagen'] }}"
                    alt=""
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
